<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Crypto Alerts - Dashboard</title>

        <!-- Custom fonts for this template-->
        <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index')}}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fab fa-btc"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Crypto Alerts</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index')}}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('wallet')}}">
                        <i class="fas fa-wallet"></i>
                        <span>Wallet Area</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('alerts')}}">
                        <i class="far fa-bell"></i>
                        <span>Create New Alert</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('charts')}}">
                        <i class="fas fa-chart-area"></i>
                        <span>Chart Area</span></a>
                </li>

                <!-- Heading -->
                <div class="sidebar-heading">

                </div>

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                    <img class="img-profile rounded-circle" src="/static/img/account.png">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{{ url_for('account')}}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('login')}}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                            {
                                "symbols": [
                                    {
                                        "proName": "BITSTAMP:BTCUSD",
                                        "title": "BTC/USD"
                                    },
                                    {
                                        "proName": "BITSTAMP:ETHUSD",
                                        "title": "ETH/USD"
                                    },
                                    {
                                        "description": "XRP/USD",
                                        "proName": "BITFINEX:XRPUSD"
                                    },
                                    {
                                        "description": "BCH/USD",
                                        "proName": "BITSTAMP:BCHUSD"
                                    },
                                    {
                                        "description": "EOS/USD",
                                        "proName": "BITFINEX:EOSUSD"
                                    },
                                    {
                                        "description": "ADA/USD",
                                        "proName": "KRAKEN:ADAUSD"
                                    },
                                    {
                                        "description": "LTC/USD",
                                        "proName": "KRAKEN:LTCUSD"
                                    },
                                    {
                                        "description": "BNB/USDC",
                                        "proName": "BINANCE:BNBUSDC"
                                    },
                                    {
                                        "description": "TRX/USDT",
                                        "proName": "HUOBI:TRXUSDT"
                                    }
                                ],
                                    "colorTheme": "dark",
                                        "isTransparent": false,
                                            "displayMode": "adaptive",
                                                "locale": "en"
                            }
                        </script>
                    </div>
                    <hr>
                    <!-- Begin Page Content -->

                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        </div>

                        <!-- Content Row -->
                        <div class="row">

                            <!-- Wallet Area -->
                            <div class="col-xl-3 col-md-2 mb-2">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Wallet area</div>
                                            </div>
                                            <a href="{{ url_for('wallet')}}" class="btn btn-primary btn-user btn-block">
                                                Go</a>
                                            <div class="col-auto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Alerts -->
                            <div class="col-xl-3 col-md-2 mb-2">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Create new alert</div>
                                                <a href="{{ url_for('alerts')}}" class="btn btn-success btn-user btn-block">
                                                    Go</a>
                                            </div>
                                            <div class="col-auto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Chart Area -->
                            <div class="col-xl-3 col-md-2 mb-2">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Chart Area</div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                    </div>
                                                    <div class="col">
                                                        <a href="{{ url_for('charts')}}" class="btn btn-info btn-user btn-block">
                                                            Go</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Account -->
                            <div class="col-xl-3 col-md-2 mb-2">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Account</div>
                                            </div>
                                            <div class="col-auto">
                                            </div>
                                        </div>
                                        <a href="{{ url_for('account')}}" class="btn btn-warning btn-user btn-block">
                                            Go</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Main Content -->

                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary">News 22/11/2019 - Binance and China</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample">
                                <div class="card-body">
                                    <p>Chinese authorities have reportedly raided and shut down the Shanghai offices of leading cryptocurrency exchange Binance.</p> 

                                    <p>Citing unnamed local sources, The Block says that local police have shut down Binance’s offices after raiding the premises. Between 50–100 of the exchange’s employees reportedly worked out of the Shanghai location.</p>

                                    <p>Binance has not responded to Cointelegraph’s requests for comment as of press time.</p> 

                                    <p>Closure follows crackdown 
                                        The purported raid follows a crackdown on cryptocurrency-related businesses and activities in the country.</p>

                                    <p>Recently, financial authorities in China issued a notice to the public, directing individuals to report businesses engaged in virtual asset trading to the Shanghai headquarters of the People's Bank of China — the country’s central bank. Activities that must be reported include:</p>

                                    <p><strong>“Virtual currency transactions in the territory; the other is to issue ‘xx coins’ and ‘xx’ in the form of ‘blockchain application scenarios.’  Currency, fundraising or bitcoin, virtual currency such as Ethereum; third, providing services such as publicity, diversion, agency trading, etc. for registered ICO projects, virtual currency trading platforms, etc.” </strong></p>
                                    <strong><em>https://cointelegraph.com/news/markets-crash-after-reports-that-binances-shangai-office-closed-in-crypto-crackdown</em></strong>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary">News 22/11/2019 - What's going on on the market</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample">
                                <div class="card-body">
                                    <p>It seems that apocalyptical forecasts start to roll out. Peter Schiff recently noted that bitcoin created an ominous head-and-shoulder pattern that may result in an epic collapse to $1,000. While these expectations of an old bitcoin critic may be overstretched, the downside momentum looks scary. </p> 

                                    <p>From the fundamental point of view, the decision of PBOC Shanghai Head office to strengthen regulation and control over the cryptocurrency industry might have served as a trigger that brought bitcoin and all major altcoins to multi-month lows.</p>

                                    <p>At the time of writing, BTC/USD  is moving fast towards $7,000. This psychological barrier may hold the bears back for the time being. Though once it is out of the way, the bottom will fall out and the price may collapse to as low as $5,000. This barrier is created by SMA200 (Simple Moving Average) weekly. On the upside, we will need to see a recovery above at least $7,550 (the neckline of the above-mentioned head-and-shoulder pattern coupled with SMA100 weekly. </p> 

                                    <p>Considering the downward-looking RSI (Relative Strength Index) both on a daily and a weekly chart, the bearish scenario looks highly likely at this stage. </p>

                                    <strong><em>https://www.fxstreet.com/cryptocurrencies/news/top-3-price-prediction-btc-eth-xrp-crypto-bulls-massacre-in-full-swing-201911221101</em></strong>
                                </div>
                            </div>
                        </div>

                        <!-- Footer -->
                        <footer class="sticky-footer bg-white">
                            <div class="container my-auto">
                                <div class="copyright text-center my-auto">
                                    <span>Copyright &copy; Crypto Alets 2019</span>
                                </div>
                            </div>
                        </footer>
                        <!-- End of Footer -->

                    </div>
                    <!-- End of Content Wrapper -->

                </div>
                <!-- End of Page Wrapper -->

                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <!-- Begin scripts -->

                <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
                <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
                <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
                <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
                <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script>

                </body>

            </html>
